/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.container{
	padding: 2%;
}

/* menu sidebar */
.nav-text{
	font-size:17px;
}

td{
	font-family: url("fonts/aguafina_script.ttf");
}
.formtambahproduk{
	padding: 5%;
}
.kolomKecil{
	width: 20%;
}

/* form daftar user */
.formUserBaru{
	border: 1px solid pink;
	border-radius: 5px;
	padding-left: 2%;
}
#btnTambahUser{
	float: right;
	margin-right: 20%;
	margin-top: 2%;
}

@media only screen and (max-width: 600px) {
	#btnTambahUser{
		width: 80%;
		font-size: 7pt;
		padding: 1px;
	}
}

/* detail produk */
.carousel .carousel-item {
	width: 30%;
}
@media only screen and (max-width: 600px) {
	.carousel .carousel-item {
		width : 100%
	}
}
.btnDeleteFotoDetailproduk{
	cursor: pointer;
	float: right;
}

.editinfo{
	border: 3px solid pink;
	margin-top: 5%;
	border-radius: 10px;
}

/* kotak pesan */
/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(236, 169, 181); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(245, 158, 173)
  }


#kolomDaftarChat{
	margin-top: 2%;
	border: 2px solid pink;
	border-radius: 5px;
	height: 85%;
	overflow-y: scroll;
	position: fixed;
	float: left;
}

#kolomChat{
	position: fixed;
	right: 2%;
	height: 85%;
	margin-top: 2%;
	border: 2px solid pink;
	border-radius: 5px;
	padding: 2%;
}

.UserChat{
	padding: 2%;
	margin-top: 5%;
	border-radius: 5px;
	border: solid 1px black;
}
.UserChat:hover{
	cursor: pointer;
	background-color: pink;
}

#isiChat{
	overflow-y: scroll;
	height: 50%;
	width: 60%;
	position: fixed;
	color: gray;
}

.chatsTerima{
	float: left;
	border: solid 1px pink;
	color:#ff4081;
	border-radius: 5px;
	padding:1% 3% 1% 3%;
	font-size: large;
}
.chatsKirim{
	background-color: #ff4081;
	color: white;
	border-radius: 5px;
	padding:10% 30% 10% 30%;
	font-size: large;
}

.containerKirim{
	float: right;
	margin-right: 8%;
}
@media only screen and (max-width: 600px) {
	.tulisChat{
		bottom: 5%;
		position: fixed;
		width: 50%;
	}
}

.tulisChat{
	bottom: 5%;
	position: fixed;
	width: 125%;
}

.namaaktif{
	color: rgb(248, 203, 224);
}

/* daftar pesanan */
.filter_pesanan{
	margin: 2% 1% 2% 1%;
}

#btnbaru{cursor: pointer;}
#btndisetujui{cursor: pointer;}
#btndibayar{cursor: pointer;}
#btnVerifikasi{cursor: pointer;}
#btndiproses{cursor: pointer;}
#btndikirim{cursor: pointer;}
#btnselesai{cursor: pointer;}
#btnditolak{cursor: pointer;}

/* laporan */
#downloadLaporan{
	background-color:#ff4081;
	color: white;
	padding: 10px 5px 10px 5px;
	border-radius: 5px;
	border: solid white;
}

.btnLaporan{
	margin-top: 2%;
	margin-bottom: 2%;
}

/* pengrajin */
.gambarDetailProduk{
	width: 100px;
	height: 100px;
}
